<div class="container">
    <div class="row">
        <div class="col-md-12 title">
            <span>Login</span>
        </div>
    </div>
    <br>
    <div class="row">
        <form class="col-md-12">
            <div>
                <input type="text" id="loginComponent-usernameForm" placeholder="Username">
            </div>
            <br>
            <div>
                <input type="password" id="loginComponent-passwordForm" placeholder="Password">
            </div>
        </form>
    </div>
</div>