input {
    display: flex;
    text-align: center;
    padding: 3px;
    vertical-align: middle;
    margin: 15px auto auto auto;
    width: 12em;
    font-family: Economica;
    font-size: 14pt;
}
button {
    display: block;
    margin: 15px auto !important;
}