<div class="container">
    <div class="row">
        <div class="col-md-12 title">
            <span>{{ loginOrRegister }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <app-login [shouldLogin]="userShouldLogin"
            [formGroup]="loginForm"
            (requestToSwitchForm)="requestLogin($event)"></app-login>

            <app-register [shouldRegister]="!userShouldLogin"
            [formGroup]="registerForm"
            (requestToSwitchForm)="requestLogin($event)"
            ></app-register>
        </div>
    </div>
</div>