<div class="row">
    <nav class="col-md-12">
        <a routerLink="index" activatedRoute="active">HOME</a>
        <img src="../../../assets/logo-white.png" class="logo">
        <a routerLink="login" activatedRoute="active">LOGIN</a>
        <a routerLink="#" activatedRoute="active">GRAPHICS</a>
        <a routerLink="#" activatedRoute="active">DATA & ML</a>
        <a routerLink="#" activatedRoute="active">OPERATIONS</a>
        <a routerLink="#" activatedRoute="active">JOIN THE TEAM</a>
    </nav>
</div>
