nav {
    display: inline-flex;
    background-color: #0d0c19;
    height: 6em;

    a {
        margin: 35px;
        color: #f0f0f0;
        font-family: Work Sans;
        font-size: 10pt;
    }

    .logo {
        height: 100%;
        color: #f0f0f0;
    }
}