<div class="row">
    <nav class="navbar-collapse col-md-12 col-sm-12">
        <img src="../../../assets/logo-white.png" class="logo">
        <a routerLink="index" activatedRoute="active" class="col-md-1">HOME</a>
        <a routerLink="#" activatedRoute="active" class="col-md-1">GRAPHICS</a>
        <a routerLink="#" activatedRoute="active" class="col-md-1">DATA</a>
        <a routerLink="#" activatedRoute="active" class="col-md-1">OPERATIONS</a>
        <a routerLink="#" activatedRoute="active" class="col-md-1">JOIN THE TEAM</a>
        <a routerLink="login" activatedRoute="active" class="col-md-1">LOGIN</a>
    </nav>
</div>
