nav {
    display: inline-flex;
    background-color: #0d0c19;
    height: 9em;
    min-width: 1100px;

    a {
        margin-right: 5px;
        text-align: center;
        color: #f0f0f0;
        font-family: Work Sans;
        font-size: 10pt;
    }

    .logo {
        height: 100%;
        margin: auto 25% auto 5%;
    }
}
@media screen and (max-width: 1100px) {
    nav {
        display: inline-flexbox; // this is wrong.
    }
    nav a:not(:first-child) {
        width: 100%;
        // display: flex;
    }
  }
